# See https://git-scm.com/docs/gitignore to learn more.

/.quarto/
/.Rproj.user/
/*_cache/
/*.Rcheck/
/cache/
/docs/
/revdep/
/vignettes/*.html
/vignettes/*.pdf

.Rapp.history
.RData
.Renviron
.Rhistory
.Ruserdata
*.knit.md
*.utf8.md
