# See <https://git-scm.com/docs/gitignore> to learn more.

*.knit.md
.Rapp.history
.RData
.Renviron
.Rhistory
.Ruserdata
*.utf8.md

/*.Rcheck/
.Rproj.user/
*_cache/
/cache/
docs/
pkgdown/
revdep/
vignettes/*.html
vignettes/*.pdf

/.quarto/
