# See https://git-scm.com/docs/gitignore to learn more.

/*.Rcheck/
/.Rproj.user/
/*_cache/
/cache/
/docs/
/.quarto/
/revdep/
/vignettes/*.html
/vignettes/*.pdf

*.knit.md
.Rapp.history
.RData
.Renviron
.Rhistory
.Ruserdata
.vscode
*.utf8.md
